--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.6.0+cu118
torchvision==0.21.0+cu118
torchmetrics
pandas
numpy
opencv-python
tqdm
mlflow
plotly
matplotlib
pytest
pillow

# opencv-python
# kornia
