--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.0+cu128
torchvision==0.22.0+cu128
torchmetrics
pandas
numpy
opencv-python
tqdm
mlflow==3.16.1
plotly
matplotlib
pytest
pillow

# kornia
